.contact {
	position: relative;


	&__info {
		align-self: center;
		position: relative;
		width: 100%;
		padding: 3rem 1rem;
		margin-top: 3rem;
		color: $white;

		@include below (sm) {
			background: $pink;
		}
		
		@include above (sm) {
			&:before {
				content: '';
				background-image: url('../img/contact_bg.svg');
				position: absolute;
				width: 100%;
				height: 100%;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;
				top: 0;
				left: 0;
			}
		}

		p:last-child() {
			margin-bottom: 0;
		}

		a {
			transition: all ease .3s;
			color: $white;

			&:hover {
				color: $green;
			}
		}	

		@include above (sm) {
			padding: 11rem 6.5rem;
			width: calc(50% - 3rem);
			margin-left: 3rem;
		}
	}

	&__title {
		margin-top: 0;
		font-size: 30px;
		color: $black;

		@include text-stroke(
			$stroke-width: 1px,
			$stroke-color: $white
		);

		@include above (md) {
			font-size: 40px;
		}

		@include above (lg) {
			font-size: 60px;
		}
	}
}