.header {
	position: absolute;
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;

	&__logo {
		display: block;
		float: left;
		position: relative;
		z-index: 10;

		img {
			width: 200px;
			height: 116px;

			@include above (sm) {
				width: 300px;
				height: 174px;
			}

			@include above (lg) {
				width: 432px;
				height: 250px;
			}
		}
	}
}