/********************LAYOUTS********************/

/* Base Styles */
.pink--bg, .green--bg {

  a, .wysiwygs__title {
    color: $black;
    @include text-stroke(
      $stroke-width: 1px,
      $stroke-color: $white

    );
  }
}

.green--bg {

  i {
    color: #3b579d;
    -webkit-text-stroke-width: 0px;
  }
}

.none--bg {

  .wysiwygs__title {
    color: $green;
  }
}


/* WYSIWYGs */
.wysiwygs {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__title {
    margin-top: 0;

    @include above (lg) {
      font-size: 75px;
    }
  }

  &__col {

    h2 {
      margin-top: 0;
    }
	
  	@include above (sm) {
    		&.first {
    			p:last-child {
    			 margin-bottom: 0;
    			}
    		}
    	}
  	
  	&.last {
  		p:last-child {
  			margin-bottom: 0;
  		}
  	}
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}