.page {

	&__hero {
		background-image: url('../img/hero.svg');
		background-repeat: no-repeat;
		background-position: center top;
		background-size: cover;
		padding-top: 5rem;
		padding-bottom: 5rem; 
		position: relative;

		@include above (sm) {
			font-size: 24px;
			padding-top: 10rem;
			padding-bottom: 5rem;
		}  

		@include above (lg) {
			padding-top: 15rem;
			padding-bottom: 15rem;
		}
	}

	&__title {
		color: $white;
		@include text-stroke(
			$stroke-width: 1px
		);
	}

	&__wrap {

		@include above (lg) {
			bottom: -12rem;
			position: absolute;
		}
	}
}
