.variants {
	@include below (sm) {
		padding: 0!important;
	}
	
	&--wrapper {
		position: relative;

		@include above (sm) {
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				z-index: 10;
				top: 0;
				left: 0;
				z-index: 0;
			}
		}
	}

	&--purple {

		@include below (sm) {
			background: $purple;
		}
	
		&:before {
			background-image: url('../img/wildberry_bg.svg');
		}
	}

	&--pink {

		@include below (sm) {
			background: $pink;
		}

		&:before {
			background-image: url('../img/watermelon_bg.svg');
		}
	}

	&--green {

		@include below (sm) {
			background: $green;
		}

		&:before {
			background-image: url('../img/greenapple_bg.svg');
		}
	}

	&--yellow {

		@include below (sm) {
			background: $yellow;
		}

		&:before {
			background-image: url('../img/lemonade_bg.svg');
		}
	}

	&__container {
		@include below (sm) {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
	}

	&__item {
		color: $white;
	}	

	&__title {
		color: $white;
		@include text-stroke(
			$stroke-color: $black,
			$stroke-width: 1px
		);
	}

	&__btn {
		color: $black;
	}
}