.btn {
	display: inline-block;
	padding: 1rem 2.5rem;
	background: transparent;
	color: $white;
	cursor: pointer;
	position: relative;
	font-size: 30px;
	@include text-stroke(
		$stroke-width: 2px,
		$stroke-color: $white

	);

	span {
		position: relative;
		z-index: 10;
	}

	@include above (lg) {
		font-size: 40px;
	}

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 0;
		top: -.5rem;
		left: 0;
		padding: 2.5rem 2rem;
		z-index: 0;
	}

	&--green {
		color: #518e44;

		&:before {
			background-image: url('../img/btn_green.svg');
			top: -.7rem;
		}

		&--small {

			&:before {
				background-image: url('../img/btn_green_small.svg');
				top: -.8rem;
			}
		}
	}

	&--pink {
		color: #ef3963;

		&:before {
			background-image: url('../img/btn_pink.svg');
			top: -.3rem;
		}

		&--small {
			
			&:before {
				background-image: url('../img/btn_pink_small.svg');
				top: -.8rem;
			}
		}
	}

	&--purple--small {
		color: #ef3963;

		&:before {
			background-image: url('../img/btn_purple.svg');
			top: -.8rem;
		}
	}

	&--yellow--small {
		color: #ef3963;

		&:before {
			background-image: url('../img/btn_yellow.svg');
			top: -.8rem;
		}
	}
}