h1, .h1 {
  font-size: 37px;

  @include between (sm, md) {
    font-size: 47px;
  }

  @include above (md) {
    font-size: 67px;
  }

  @include above(lg) {
    font-size: 87px;
    
  }
}

h2, .h2 {
  font-size: 30px;

  @include above(md) {
    font-size: 40px;
  }

  @include above(lg) {
    font-size: 60px;
   
  }
}

h3, .h3 {
  font-size: 24px;

  @include above(sm) {
    font-size: 34px;
  }
}

h4, .h4 {
  font-size: 22px;

  @include above(sm) {
    font-size: 28px;
  }
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}


// Change headings font if a heading font is set
@if $font-headings != null {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-headings;
    line-height: 1;
    font-weight: 700;
  }
}